"@types:registry" "https://nexus.xingfuli.me/repository/npm-proxy"
"@koa:registry" "https://nexus.xingfuli.me/repository/npm-proxy"
"@nestsoft:registry" "https://nexus.xingfuli.me/repository/npm-nestsoft"
"@babel:registry" "https://nexus.xingfuli.me/repository/npm-proxy"
